<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <title>Добавить человека</title>
</head>
<body>
    <div id="wrapper">
<div id="header">
    <a href="/">На главную</a>
    {% if form.errors %}
    <div class=error><strong>Ошибки:</strong>
        {% for error in form.errors.first_name %}
        <p>{{error}}</p>
    {% endfor %}
    {% for error in form.errors.last_name %}
        <p>{{error}}</p>
    {% endfor %}

    {% for error in form.errors.date_of_birth %}
        <p>{{error}}</p>
    {% endfor %}

    {% for error in form.errors.address %}
        <p>{{error}}</p>
    {% endfor %}
    </div>
    {% endif %}   
    


</div>
        <div id="main">


    <form action="{{ url_for('add') }}" method="POST" id="add_form">
    {{ form.csrf_token }}
        <fieldset>
            <legend>Информация о персоне</legend>
            <div>
                <label for="first_name">{{form.first_name.label}}</label>            
                {{form.first_name(class_="txt")}}
            </div>

            <div>
            <label for="last_name">{{form.last_name.label}}</label>            
            {{form.last_name(class_="txt")}}
            </div>

            <div>
            <label for="date_of_birth">{{form.date_of_birth.label}}</label>            
            {{form.date_of_birth(class_="txt")}}
            </div>

            <div>
            <label for="address">{{form.address.label}}</label>            
            {{form.address(class_="txt")}}
            </div>

        </fieldset>

        <div>
        <input type="submit" name="btnSubmit" id="btnSubmit" value="Добавить" class="btn" />
        </div>
    </form>

</div>
</div>
</body>
</html>