<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <title>Добавить человека</title>
</head>
<body>
    <div id="wrapper">
<div id="header">
    <a href="/">На главную</a>
    {% if messages %}
        <div class=error><strong>Ошибки:</strong>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}


</div>
        <div id="main">


    <form action="{{ url_for('add') }}" method="POST" id="add_form">
        <fieldset>
            <legend>Информация о персоне</legend>
            <div>
                <label for="first_name">Имя:</label>
                <input type="text" name="first_name" id="first_name" class="txt" placeholder="Имя"/>
            </div>

            <div>
                <label for="last_name">Фамилия:</label>
                <input type="text" name="last_name" id="last_name" class="txt" placeholder="Фамилия"/>
            </div>

            <div>
                <label for="date_of_birth">Дата рождения:</label>
                <input type=date name=date_of_birth id="date_of_birth" class="txt" >
            </div>
            <div>
                <label for="address">Дата рождения:</label>
                <textarea rows="5" cols="30" name="address" id="address" placeholder="Адрес" class="txt"></textarea>
            </div>
        </fieldset>

        <div>
        <input type="submit" name="btnSubmit" id="btnSubmit" value="Добавить" class="btn" />
        </div>
    </form>

</div>
</div>
</body>
</html>