<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <title>Список людей</title>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <p><a href="/add">Добавить человека</a> <a href="/">Сброс фильтров</a></p>


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form action="" method="GET" id="search_form">
            {% if request.args.get('search_last_name') %}
            <input type="text" name="search_last_name" id="last_name" class="txt"
                   placeholder="Фамилия" value="{{request.args.get('search_last_name')}}"/>
            {% else %}
            <input type="text" name="search_last_name" id="last_name" class="txt" placeholder="Фамилия"/>
            {% endif%}

            <input type="submit" id="btnSubmit" value="Искать" class="btn"/>
        </form>
    </div>

    <div id="main">
        <table id="user_list">
            <thead>
            <tr>
                <th>

                    {% if request.args.get('search_last_name') and not request.args.get('sort') %}
                    <a href="{{request.url}}&sort=id">ID</a>
                    {% elif request.args.get('search_last_name') and request.args.get('sort') %}
                    {% if request.args.get('sort') != 'id' %}
                    <a href="/?search_last_name={{request.args.get('search_last_name')}}&sort=id">ID</a>
                    {% else %}
                    <a href="{{request.url}}">ID</a>
                    {% endif%}
                    {% else %}
                    <a href="/?sort=id">ID</a>
                    {% endif%}


                </th>
                <th>
                    {% if request.args.get('search_last_name') and not request.args.get('sort') %}
                    <a href="{{request.url}}&sort=lastname">Фамилия</a>
                    {% elif request.args.get('search_last_name') and request.args.get('sort') %}
                    {% if request.args.get('sort') != 'lastname' %}
                    <a href="/?search_last_name={{request.args.get('search_last_name')}}&sort=lastname">Фамилия</a>
                    {% else %}
                    <a href="{{request.url}}">Фамилия</a>
                    {% endif%}
                    {% else %}
                    <a href="/?sort=lastname">Фамилия</a>
                    {% endif%}

                </th>
                <th>
                    {% if request.args.get('search_last_name') and not request.args.get('sort') %}
                    <a href="{{request.url}}&sort=firstname">Имя</a>
                    {% elif request.args.get('search_last_name') and request.args.get('sort') %}
                    {% if request.args.get('sort') != 'firstname' %}
                    <a href="/?search_last_name={{request.args.get('search_last_name')}}&sort=firstname">Имя</a>
                    {% else %}
                    <a href="{{request.url}}">Имя</a>
                    {% endif%}
                    {% else %}
                    <a href="/?sort=firstname">Имя</a>
                    {% endif%}

                </th>
                <th>Дата рождения</th>
                <th>Адрес</th>
            </tr>
            </thead>

            {% for user in users %}
            <tr>
                <td><a href="/edit/{{user.id}}">{{user.id}}</a></td>
                <td>{{user.last_name}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.date_of_birth.strftime('%d.%m.%Y')}}</td>
                <td>{{user.address}}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
</div>


</body>
</html>